.root {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 26px;

    .question {
        opacity: 0.5;
        cursor: pointer;
    }
    .dropdown {
        cursor: pointer;
        i {
            padding-left: 5px;
        }
    }
    i{
        cursor: pointer;
    }
}
